@font-face {
    font-family: RobotoFlex;
    src: url(./font/RobotoFlex[slnt\,wdth\,wght\,opsz].ttf);
}

body
{
    padding: 0;
    margin: 0;
}
.container
{
    max-width: 1440px;
    background-color: #E9F5FF;

    display: flex;
    flex-direction: column;
}


.button_anim:hover
{

    transform: scale(1.1);
    transition: 0.5s;
}


.button_anim
{
    transition: 0.5s;
}
.button_anim:active
{
    background-color: #3B4A6B;
    color: wheat;
}
.text
{
    font-family: RobotoFlex;
    font-weight: 700;
    color:#25468A;
}

/*header*/
.header
{
    max-width: 1440px;
    height: 755px;
    background: linear-gradient(0deg, #E9F5FF, rgba(0,185,255,1) 100%);

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    
    font-family: RobotoFlex;
    font-weight: 700;
    color:#25468A;
}

.nav
{
    width: 1120px;

    align-self: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}        
.logo
{
    max-width: 190px;
    display: flex;
}
.logo_img
{
    width: 55px;
    height: 55px;

    align-self: center;
}
.logo_text
{
    max-width: 140px;

    font-size: 25px;
}
.nav_links
{
    max-width: 530px;

    display: flex;
}
.list
{
    width: 390px;
    list-style-type: none;

    display: flex;
    justify-content: space-around;
}
.button
{
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 25px;
    align-self: center;
}
.link a
{
    font-size: 15px;
    text-decoration: none;
}



.header_content
{
    max-width: 1460px;
    
    align-self: flex-end;
    display: flex;
}
.logo_2
{
    max-width: 540px;
}

.h1
{
    font-size: 90px;

}

.logo_2__text_1
{
    font-size: 30px;
    font-weight: 400;
}
.logo_2__text_2
{
    font-size: 20px;
    font-weight: 400;
}

.button_2
{
    border: none;
    border-radius: 25px;
    background-color: #F7BA0E;
    color: #3B4A6B;
    width: 255px;
    height: 50px;
}

.laptop
{
    width: 600;
    height: 560px;
}



/*nav*/

.nav_2
{
    width: 1120px;
    height: 190px;

    align-self: center;

    display: flex;
    justify-content: space-between;

}

.button_nav
{
    width: 350px;
    height: 190px;
    background-color: #1391CE;
    border-radius: 8px;
    border: none;
    color:white;
    font-size: 20px;
}






/*main*/


@font-face {
    font-family: inter;
    src: url(./font/Inter-VariableFont_slnt\,wght.ttf);
}

.main
{
    max-width: 1120px;
    align-self: center;
    display: flex;
    flex-direction: column;

    font-family: inter;
    font-size: 15px;
    color: #1391CE;
}

.header_main
{
    width: 390px;
    height: 110px;
    align-self: center;
    text-align: center;
    font-weight: 300;
}

.rectangle
{
    Width: 160px;
    Height:  8px;
    background-color: #F7BA0E;
    align-self: center;
}


.content
{
    width: 1120px;
    display: flex;
    flex-wrap:wrap  ;
    min-height: 1550px;
}

.main_list
{
    max-width: 545px;
    list-style-type:none;
}

.img_in_main
{
    width: 545px;
    height: 410px;
}

.p_in_main_1
{
    font-weight:400;
    font-size:16px;
}

.p_in_main_2
{
    font-weight: 700;
    font-size: 30px;
}

.p_in_main_3
{
    font-weight: 400;
    font-size: 18px;
    color: #4F4F4F;

}

.caption_in_main
{
    font-weight: 600;
    font-size: 20px;
}
.list_in_main_list
{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.list_in_main_list_2
{
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.item
{
    font-weight: 400;
    font-size: 15px;
    list-style-image: url(./img/Vector.png);
}